body {
    background-color: #1d1e22;
}

#head {
    background-color: #feda6a;
    transform: translateY(50px)
}

#detail {
    transform: translateY(50px);
}

.info {
    background-color: #feda6a;
    margin: 20px;
}

#continue {
    padding: 1%;
    background-color: #feda6a;
    margin-left: 30%;
    width: 30%;
    text-decoration: none;
    color: #1d1e22;
    font-size: 130%;
    animation: slide4;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    box-shadow: 4px 4px rgb(71, 70, 70);
}